<a href="https://colab.research.google.com/github/Excellerman/Assgn_project-/blob/master/untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age = 20
age = 30
print(age)

30

In [ ]:
# Create a dictionary to store the patient's information
patient = {
    "name": "John Smith",
    "age": 20,
    "status": "new"
}

# Print the patient's information
print(f"Patient Name: {patient['name']}")
print(f"Patient Age: {patient['age']}")
print(f"Patient Status: {patient['status']}")

Patient Name: John Smith
Patient Age: 20
Patient Status: new

In [ ]:
name = input ("What is your n ame? ")
print("hello " + name)

What is your n ame? John Smith
hello John Smith

In [ ]:
birth_year = input("Enter your birth year: ")
age = 2024 - int(birth_year)
print(age)

Enter your birth year: 1980
44

In [ ]:
first = int(10)
second = int(20)
sum = (first + second)
print(sum)

30

In [ ]:
first = float(10.5)
second = float(20)
sum = (first + second)
print(sum)

30.5

In [ ]:

first = input("first: ")
second = input("second: ")
sum = int(first) + int(second)
print(sum)

first: 15
second: 10
25

In [ ]:
first = input("first: ")
second = input("second: ")
sum = float(first) + float(second)
print(sum)

first: 10.5
second: 5.7
16.2

In [ ]:
first = input("first: ")
second = input("second: ")
sum = float(first) + float(second)
print(sum)

first: 10.5
second: 5.7
16.2

In [ ]:
first = input("first: ")
second = input("second: ")
sum = float(first) + float(second)
print("sum: " + str(sum))

first: 10
second: 5.5
sum: 15.5

In [ ]:
first = float(input("first: "))
second = float(input("second: "))
sum = first + second
print(sum)

first: 10
second: 5.5
15.5

In [ ]:
first = float(input("first: "))
second = float(input("second: "))
sum = first + second
print("sum: " + str(sum))

first: 5
second: 5.5
sum: 10.5

string in python

In [ ]:
course = 'python for beginners'
print(course)

python for beginners

In [ ]:
course = 'python for beginners'
print(course.upper())
print(course.lower())

PYTHON FOR BEGINNERS
python for beginners

In [ ]:
course = 'python for beginners'
print(course.find('y'))

1

In [ ]:
course = 'python for beginners'
print(course.replace('for', '4'))

python 4 beginners

In [ ]:
## IN operator in python ##
course = 'python for beginners'
print('python' in course)

True

In [ ]:
## IN operator in python ##
course = 'python for beginners'
print('hussain' in course)

False

Arithmetic Operator in python

In [ ]:
## Addition in pythonb ##
## Subtraction in python ##
## Division in python ##
print(10 + 5)
print(20-5)
print(25/5)
print(25//5)

15
15
5.0
5

Augmented assignment operator

In [ ]:
X = 10
X = X + 10
print(X)

20

In [ ]:
x = 10
x -= 5
print(x)

5

In [ ]:
x = 10
x *= 5
print(x)
x **= 10
print(x)

50
97656250000000000

In [ ]:
x = 10 + 3 * 2
print(x)
x = (10 + 3) * 2
print(x)

16
26

Comparison operators in python.
comparison operators areb used to compare values

In [ ]:
x = 3 > 2
print(x)
x= 3 >= 2
print(x)
x = 3 <= 2
print(x)
x = 3 == 2
print(x)
x = 3 != 2
print(x)

True
True
False
False
True

In [ ]:
## comparison operators in python ##
## < greater than
## <= greater than or equals to
## > lass than
## > less than or equals to
## == equal
## != not equal

Logical operators in python. its used to build complex  rules and condition

In [ ]:
##  using AND, OR, NOT operators ##
price = 25
print(price > 10 and price < 30)
price = 5
print(price > 10 or price < 30)
price = 5
print(not price > 10 )

True
True
True

In [ ]:
## we have 3 logical operators expression ##
## AND (both) if both is True
## OR (at least one) if one is True
## NOT which inverses any value that we give it

iF STATEMENT in python. We use IF STATEMENT to make decisionsin our program

In [ ]:
temperature = 35

if temperature  > 30:
  print("it's a hot day")
  print("drink plenty of water")

it's a hot day
drink plenty of water

In [ ]:
temperature = 25

if temperature  > 30:
  print("it's a hot day")
  print("drink plenty of water")

In [ ]:
temperature = 25

if temperature  > 30:
  print("it's a hot day")
  print("drink plenty of water")
print("done")

done

In [ ]:
temperature = 25

if temperature  > 30:
  print("it's a hot day")
  print("drink plenty of water")
elif temperature > 20: # (20, 30]
  print("it's a nice day")
print("done")

it's a nice day
done

In [ ]:
temperature = 25

if temperature  > 30:
  print("it's hot")
elif temperature > 10: # (10, 20)
  print("it's a cold day")
else:
  print("it's cold")
print("done")

it's a cold day
done

In [ ]:
input("weight: ")